.img-wrapper{
  width: 300px;
  height: 330px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
}

.recipe__wrapper{
  width: 260px;
}

.recipe-title{
  font-family: Campton-Bold;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
}

.recipe-details{
  font-family: Montserrat;
}

.recipe-no-img{
  width: 260px;
  height: 335px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 22px;
}
