<div class="nav-wrapper">
  <div *ngIf="(loggedInUser | async);" class="nav__burger-wrapper" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="nav__links-wrapper">
    <div class="nav__links-item" [routerLink]="['']">home</div>
    <div class="nav__links-item">dietary requirements</div>
    <div class="nav__links-item">nutritional benefits</div>
    <div class="nav__links-item">cuisines</div>
    <div class="nav__links-item">popular collections</div>
    <div class="nav__links-item">live feed</div>
    <div class="nav__links-item">hk news</div>
  </div>
</div>
