<div class="nav-wrapper">
  <div *ngIf="(loggedInUser | async);" class="nav__burger-wrapper" (click)="toggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="nav__links-wrapper">
    <div class="nav__links-item" [routerLink]="['']">home</div>
    <div class="nav__links-item" [routerLink]="['/dietary-requirements']">dietary requirements</div>
    <div class="nav__links-item" [routerLink]="['/nutrition-benefits']">nutritional benefits</div>
    <div class="nav__links-item" [routerLink]="['/cuisines']">cuisines</div>
  </div>
</div>
