<div class="side-menu--wrapper">

  <div class="side-menu-user-info">
    <div class="side-menu-img"></div>
    <div class="side-menu-user" *ngIf="(loggedInUser | async);">
        Hello {{ (loggedInUser | async)?.given }}
    </div>
  </div>
  <div class="side-menu--nav" [routerLink]="['/edit-user-profile']" (click)="hideMe();" *ngIf="(loggedInUser | async);">edit profile</div>
  <div class="side-menu--nav" [routerLink]="['/add-recipe']" (click)="hideMe();" *ngIf="(loggedInUser | async);">add recipe</div>
  <div class="side-menu--nav" [routerLink]="['/my-recipes']" (click)="hideMe();" *ngIf="(loggedInUser | async);">my recipes</div>
  <div class="side-menu--logout" *ngIf="(loggedInUser | async);" (click)="logout(); hideMe();">LOG OUT</div>
  


</div>
