<div class="side-menu--wrapper">

  <div class="side-menu-user-info">
    <div class="side-menu-img"></div>

    <div class="side-menu-user">
      Hello, gjgjg
    </div>
  </div>


  <div class="side-menu--nav">edit profile</div>
  <div class="side-menu--nav" >news feed</div>
  <div class="side-menu--nav">favourite cooks</div>
  <div class="side-menu--nav" [routerLink]="['/add-recipe']">add recipe</div>
  <div class="side-menu--nav" [routerLink]="['/my-recipes']">my recipes</div>
  <div class="side-menu--nav border-bottom">cookbook</div>
  <div class="side-menu--logout">Log out</div>


</div>
