.logo-wrapper{
  padding: 55px 0;
  text-align: center;
  background-color: #f6f6f6;
  background-image: url("../../../../assets/img/background.png");
  background-repeat-y: no-repeat;
  background-size: 70%;
}

.header-right-side{
  display: flex;
  position: absolute;
  top: 34px;
  right: 80px;
}

.header__socials-links{
  display: inline-flex;
  a{
    text-decoration: none;
  }
}

.header__socials-link{
  width: 25px;
  height: 25px;
  background-color: #ddc9b8;
  border-radius: 5px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: darken(#ddc9b8, 5%);
  }
  i{
    color: #fff;
  }
}

.header__socials-title{
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 11px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.header__auth-wrapper{
  padding-right: 50px;
  span{
    font-family: Montserrat;
    font-size: 11px;
    cursor: pointer;
    outline: none;
    &:hover{
      text-decoration: underline;
    }
  }
  span:nth-child(1){
    padding-right: 10px;
    border-right: 1px solid #000;
  }
  span:nth-child(2){
    padding-left: 7px;
  }
}

.logo-text-up{
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 40px;
}

.logo-text-down{
  font-family: Holland;
  font-size: 32px;
}

app-log-in, app-sign-up{
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -160px;
}

app-log-in{
  top: 5%;
}

app-sign-up{
  top: 20px;
}

.modals-wrapper{
  width: 100%;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: rgba(99, 91, 91, 0.5);;
  display: flex;
  z-index: 10;
}


@media screen and (max-width: 1170px) {
  .logo-wrapper{
    padding: 10px;
    -webkit-background-size: 100%;
    background-size: 100%;
    img{
      width: 164px;
      height: 44px;
    }
  }
  .header-right-side{
    position: inherit;
    background-color: #f6f6f6;
    justify-content: space-around;
    padding-top: 5px;
  }
  .header__auth-wrapper{
    padding: 0;
  }
  .header__auth-wrapper{
    display: flex;
    align-items: center;
  }
  .header__socials-title{
    font-size: 10px;
  }
  .header__socials-link{
    width: 20px;
    height: 20px;
    font-size: 13px;
  }
  .logo-text-up, .logo-text-down{
    font-size: 17px;
  }
}
