<div class="header-wrapper">
  <div class="logo-wrapper">
    <div class="logo-text-up">Healthy kitch</div>
    <div class="logo-text-down">healthy doesn't need to bee bored</div>
  </div>
  <div class="header-right-side">
    <div class="header__auth-wrapper">
      <span (click)="openRegister()">Register</span>
      <span (click)="openLogin()">Log in</span>
    </div>
    <div class="header__socials-wrapper">
      <div class="header__socials-title">stay connected</div>
      <div class="header__socials-links">
        <a href="https://www.facebook.com">
          <div class="header__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.instagram.com">
          <div class="header__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.twitter.com">
          <div class="header__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></div>
        </a>
        <a href="https://www.youtube.com">
          <div class="header__socials-link"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modals-wrapper" *ngIf="registerOpen || loginOpen" (click)="closeModals()"></div>

<app-log-in *ngIf="registerOpen"></app-log-in>
<app-sign-up *ngIf="loginOpen"></app-sign-up>


