/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "~@fortawesome/fontawesome-free/css/all.css";

@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
  font-family: Campton-Bold;
  src: url('./assets/font/campton_bold.otf');
}

@font-face {
  font-family: Holland;
  src: url('./assets/font/Holland.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

body{
  margin: 0;
}


*{
  font-family: Montserrat;
}