<div class="home__wrapper">

  <div class="home__wrapper-img">

    <div class="home__search-wrapper">
      <div class="home__search-open--btn">

        <span class="home__search-show-more--text" (click)="openAdvancedSearch()">
          advanced search
        </span>

        <span class="home__search-show-more--btn" (click)="openAdvancedSearch()">
          <i class="fa fa-angle-down" aria-hidden="true" *ngIf="!advancedSearchExpanded"></i>
           <i class="fa fa-angle-up" aria-hidden="true" *ngIf="advancedSearchExpanded"></i>
        </span>

        <div class="home__advanced-search-wrapper" *ngIf="advancedSearchExpanded">

          <div class="home__advanced-search-column">
            <div class="home__advanced-search-column-title">categories</div>
            <div class="home__advanced-search-column-item" *ngFor="let item of allMealTypes">
              <label class="container">
                {{item.name}}

                <input type="checkbox" [(checked)]="item.checked" (change)="chooseCategories(item, $event)">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="home__advanced-search-column">
            <div class="home__advanced-search-column-title">dietary requirements</div>
            <div class="home__advanced-search-column-item" *ngFor="let req of dietaryRequirements">

              <label class="container">
                {{req.name}}
                <input type="checkbox" [(checked)]="req.checked" (change)="chooseDietary(req, $event)">
                <span class="checkmark"></span>
              </label>

            </div>
          </div>

          <div class="home__advanced-search-column">
            <div class="home__advanced-search-column-title">health benefits</div>
            <div class="home__advanced-search-column-item" *ngFor="let item of healthBenefits">
              <label class="container">
                {{item.name}}
                <input type="checkbox" [(checked)]="item.checked" (change)="chooseBenefits(item, $event)">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="home__advanced-search-column">
            <div class="home__advanced-search-column-title">cuisines</div>
            <div class="home__advanced-search-column-item" *ngFor="let item of cuisines">
              <label class="container">
                {{item.name}}
                <input type="checkbox" [(checked)]="item.checked" (change)="chooseCuisines(item, $event)">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <button class="home__advanced-search-submit" (click)="submitSearch()">
            search
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>

        </div>

      </div>

      <input type="text" class="home__search-input" placeholder="search" [(ngModel)]="searchString">

      <div class="home__search-submit-wrapper" (click)="submitSearch()">
        <span><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>

    </div>

  </div>

  <div class="home__search-main--wrapper">

    <div class="home__search-results">

      <div class="border-search-top"></div>

      <div class="home__back-btn" *ngIf="showResultsBlock" (click)="backToHomePage()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        back
      </div>

      <div class="home__search-meal-types-container" *ngIf="!showResultsBlock">

        <div class="home__search-meal-types--wrapper" *ngFor="let item of searchableItems()">

          <div class="home__search-meal-types--item" (click)="searchType(item)">

            <img [src]="searchableDisplayImage(item)" class="meal-types-img">            
            <div  class="meal-types-text">
              {{item.name}}
            </div>

          </div>
        </div>

      </div>

      <div class="home__trending-wrapper" *ngIf="!showResultsBlock">
        <div class="home__trending-title">What's trending</div>

        <div class="home__trending-list--wrapper">


          <div *ngFor="let item of trendings; let i = index" class="home__trending-list--item">
            <app-recipe
              [recipe]="item"
              [readOnly]="true"
              *ngIf="i<3"
            ></app-recipe>
          </div>


        </div>

        <p class="home__trending-view-all--wrapper">
          <span class="home__trending-view-all" (click)="searchInTrending()">view all</span>
        </p>
      </div>

      <div *ngIf="showResultsBlock">
        <div class="home__search-res-container" *ngIf="recipes[0]">
          <div *ngFor="let item of recipes; let i = index" class="home__search-res-wrapp">
            <app-recipe
              [recipe]="item"
              [readOnly]="true"
            ></app-recipe>
          </div>
        </div>

        <h2 *ngIf="!recipes[0]">
          No recipes found
        </h2>

      </div>


    </div>

    <div class="home__search-right--side">


      <div class="home__search-ingredients-search--wrapper">

        <div class="home__search-ingredients-search">

          <img src="assets/img/build-a-meal.png" alt="" width="350px">
        
          <div class="home__search-ingredients-search__inputs-wrapper">
            <div class="home__search-ingredients-search__inputs-text">
              Create wholesome dishes with ingredients already in your pantry
            </div>
            <input type="text" placeholder="e.g Chicken" [(ngModel)]="buildMealFirstItem">
            <input type="text" placeholder="e.g Rice" [(ngModel)]="buildMealSecondItem">
            <input type="text" placeholder="e.g Cheese" [(ngModel)]="buildMealThirdItem">
            <div class="home__search-ingredients-search-submit" (click)="buildMealSearch()">
              find recipes
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="home__some-section"></div>

</div>

<div class="close-wrapper" *ngIf="advancedSearchExpanded" (click)="closeAdvancedSearch()"></div>
