<div class="footer-wrapper">

  <div class="footer-section">
    <div class="footer-logo">Healthy kitch</div>
    <div class="footer-copyright">2018 copyright healthy kitch</div>
    <div class="footer-staff">website design by amber stapff</div>
  </div>

  <div class="footer-section">
    <ul class="footer-first-nav--wrapper">
      <li>home</li>
      <li>dietary requirements</li>
      <li>nutritional benefits</li>
      <li>cuisines</li>
      <li>popular collections</li>
      <li>live feed</li>
      <li>hk news</li>
    </ul>
  </div>

  <div class="footer-section">
    <ul class="footer-first-nav--wrapper">
      <li>contact us</li>
      <li>about us</li>
      <li>terms & conditions</li>
      <li>dietary information (foodiful)</li>
      <li>FAQ</li>
    </ul>
  </div>

  <div class="footer-section">
    <div class="footer-title">stay connected</div>
    <div class="footer__socials-links">
      <a href="https://www.facebook.com">
        <div class="footer__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></div>
      </a>
      <a href="https://www.instagram.com">
        <div class="footer__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></div>
      </a>
      <a href="https://www.twitter.com">
        <div class="footer__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></div>
      </a>
      <a href="https://www.youtube.com">
        <div class="footer__socials-link"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
      </a>
    </div>
  </div>

</div>
