.footer-wrapper{
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-logo{
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 40px;
}

.footer-copyright, .footer-staff {
  font-family: Montserrat;
  text-transform: capitalize;
}

.footer-copyright{
  margin-top: 10px;
}

.footer-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 8%;
}

.footer-first-nav--wrapper{
  padding: 0;
  list-style: none;
  font-family: Montserrat;
  margin: 0;
  li{
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.3s;
    &:hover{
      color: darken(#ddc9b8, 10%);
    }
  }
}

.footer__socials-links{
  display: inline-flex;
  a{
    text-decoration: none;
  }
}

.footer__socials-link{
  width: 25px;
  height: 25px;
  background-color: #ddc9b8;
  border-radius: 5px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    background-color: darken(#ddc9b8, 5%);
  }
  i{
    color: #fff;
  }
}

.footer-title{
  font-family: Campton-Bold;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1170px){
  .footer-wrapper{
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 25px;
  }
  .footer-staff{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer-logo{
    font-size: 30px;
  }
  .footer-first-nav--wrapper{
    margin-bottom: 10px;
  }
}
