<div class="container" *ngIf="currentUser">
  <div class="row">
    <div class="col-sm-2">
      <div class="profileBackground">
        <img src="assets/img/default-avatar.jpg" *ngIf="!userProfileImageSource()">
        <img [src]="userProfileImageSource()" *ngIf="userProfileImageSource()" id="profileImage" />
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#profileUploadModalID">
        Upload Image
      </button>
    </div>
    <div class="col-sm-5">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="heading">First Name</div>
            <div class="maxWidth"><input type="text" name="first_name" [(ngModel)]="currentUser.given" #first_name="ngModel"
                required></div>
          </div>
          <div class="col-sm">
            <div class="heading">Last Name</div>
            <div class="maxWidth"><input type="text" name="last_name" [(ngModel)]="currentUser.surname" #last_name="ngModel"
                required></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="heading">Email Address</div>
            <div class="maxWidth"><input type="text" name="email_address" [(ngModel)]="currentUser.email" #email="ngModel"
                required></div>

          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="heading">Gender</div>
            <div>
              <select [(ngModel)]="currentUser.gender" id="gender" name="gender">
                <option [ngValue]="currentUser.gender">M</option>
                <option [ngValue]="currentUser.gender">F</option>
              </select>
            </div>
          </div>
          <div class="col-md">
            <div class="heading">Year of Birth</div>
            <div>
              <select [(ngModel)]="currentUser.yob" id="yob" name="yob">
                <option *ngFor="let year of theYearsList()" [ngValue]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm">
            <div class="heading">About me</div>
            <div class="maxWidth">
              <textarea name="about_me" rows="5" [(ngModel)]="currentUser.aboutMe"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="heading">Website</div>
        <div class="maxWidth"><input type="text" name="webiste_url" [(ngModel)]="currentUser.websiteURL"></div>
      </div>
      <div class="row">
        <div class="heading">Blog</div>
        <div class="maxWidth"><input type="text" name="blog_url" [(ngModel)]="currentUser.blogURL"></div>
      </div>
      <div class="row">
        <div class="heading">Instragram</div>
        <div class="maxWidth"><input type="text" name="instragram_url" [(ngModel)]="currentUser.instagramURL"></div>
      </div>
      <div class="row">
        <div class="heading">Facebook</div>
        <div class="maxWidth">
          <input type="text" name="facebook_url" [(ngModel)]="currentUser.facebookURL"></div>
      </div>

      <div class="row">
        <button (click)="changePassword()" class="btn btn-primary" data-toggle="modal" data-target="#changePassModalID">CHANGE
          PASSWORD</button>
        <span style="width:10px;"></span>
        <button (click)="saveProfile()" class="btn btn-primary">SAVE PROFILE</button>
      </div>
    </div>
  </div>

  <!-- Profile Image Modal -->
  <div class="modal fade" data-backdrop="false" id="profileUploadModalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Upload Profile Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="file" name="file" (change)="fileChangeEvent($event)" style="margin-bottom: 20px" />

          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1.00"
            format="png" (imageCroppedFile)="imageCroppedFile($event)" (imageCroppedBase64)="imageCropped($event)"
            (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>

          <!--<img [src]="croppedImage" />-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="uploadProfileImage()">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" data-backdrop="false" id="changePassModalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="submitChangePasswordForm()">
          <div class="modal-body">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" [formGroup]="form">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                [formGroup]="form">
            </div>
            <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password not
              match
            </div>
            <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.PasswordTooShort">
              Password must be at least 5 characters long
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>